<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_debugging" xml:lang="de">
  <info>
    <link type="guide" xref="commands#troubleshooting"/>
    <title type="sort">1. Fehlerdiagnose</title>
    <title type="link">Fehlerdiagnose</title>
    <desc>Befehle zur Fehlerdiagnose</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Befehle zur Fehlerdiagnose</title>
  <p>Sie werden von den Entwicklern gefragt, ob Sie einige Fehlerinformationen senden möchten, damit sie die Ursache Ihres Problems finden können. Der folgende Befehl ist keinem Tastaturkürzel zugewiesen. Falls Sie es benötigen, lesen Sie bitte <link xref="howto_key_bindings">Tastenkürzel bearbeiten</link>.</p>
  <list>
    <item>
      <p>Zur nächsthöheren Stufe der Fehlerdiagnose wechseln: (Nicht zugewiesen)</p>
    </item>
  </list>
</page>
