<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_keyboard_layout" xml:lang="de">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_toggling_caps_lock"/>
    <title type="sort">6. Tastaturbelegung</title>
    <desc>Auswahl des Desktop- oder Laptop-Tastaturlayouts</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Tastaturbelegung</title>
  <p>Orca kennt zwei Tastaturlayouts: Desktop (mit Nummernblock) und Laptop. Die Wahl des Layouts beeinflusst, welche Taste als Orca-Zusatztaste verwendet wird.</p>
  <list>
    <item>
      <p>Falls Sie das Laptop-Layout verwenden, wird die voreingestellte Orca-Zusatztaste die <key>Feststelltaste</key> sein</p>
    </item>
    <item>
      <p>Falls Sie das Desktop-Layout verwenden, wird die Orca-Zusatztaste sowohl <key>Einfügen</key> als auch <key>Einfügen (Nummernblock)</key> sein, wobei Letztere die gleiche Taste wie <key>0 (Nummernblock)</key> ist.</p>
    </item>
  </list>
  <p>Das Layout bestimmt auch die Zuweisung einiger Tastenkürzel zu <app>Orca</app>-Befehlen, inbesondere in der Übersicht, »Wo bin ich« und »Alles vorlesen«.</p>
  <steps>
    <title>Ändern Ihres Tastaturtyps</title>
    <item>
      <p>Rufen Sie den Dialog <link xref="preferences">Orca-Einstellungen</link> auf, indem Sie <keyseq><key>Orca-Zusatztaste</key><key>Leertaste</key></keyseq> drücken.</p>
    </item>
    <item>
      <p>Bewegen Sie sich zu der <gui>Tastaturlayout</gui>-Gruppe von Auswahlknöpfen.</p>
    </item>
    <item>
      <p>Bewegen Sie sich zum gewünschten Layout.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui>Anwenden</gui>.</p>
    </item>
  </steps>
</page>
