<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_live_regions" xml:lang="de">
  <info>
    <link type="guide" xref="index#reading"/>
    <link type="next" xref="howto_whereami"/>
    <title type="sort">6. Dynamische Bereiche</title>
    <desc>Interaktion mit dynamischen Webinhalten</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Dynamische Bereiche</title>
  <p>Ein dynamischer Bereich ist ein dynamisch aktualisierter Teil einer Webseite, zum Beispiel eine Tabelle mit Spielergebnissen aus dem Sport, eine Liste aktueller Börsenkurse, ein Chat-Protokoll oder Benachrichtigungen einer Seite, die Sie gerade lesen. Während dynamische Bereiche recht häufig aktualisiert werden, sind vollständig erfassbare Webseiten mit dynamischen Bereichen eher selten anzutreffen. Dieses Problem wird aktiv von einer Reihe von Organisationen diskutiert.</p>
  <section id="politeness_levels">
    <title>Höflichkeitsstufen für dynamische Bereiche</title>
    <p>Dynamische Bereiche besitzen eine zugeordnete »Höflichkeitsstufe«, die vom Autor gesetzt wird, um die Wichtigkeit der Information zu übermitteln und zu empfehlen, wann Benutzer von ihren Hilfsmitteln über Aktualisierungen in diesem Bereich informiert werden sollen. Dynamische Bereiche können sein: »ausgeschaltet«, »höflich«, »bestimmend« bis zu »unhöflich«.</p>
  </section>
  <section id="orca_support">
    <title>Unterstützung für dynamische Bereiche durch <app>Orca</app></title>
    <p>Da Sie eventuell nicht mit der Höflichkeitsstufe zufrieden sein könnten, die der Autor auf der aktuell betrachteten Seite festgelegt hat, bietet <app>Orca</app> eine Anzahl an <link xref="commands_live_regions">Befehlen für den dynamischen Bereich</link> an, mit denen Sie die Stufe von einem oder allen Bereichen einer Seite bearbeiten können. Zusätzlich können Sie:</p>
    <list>
      <item>
        <p>Unterstützung für dynamische Bereiche ein- und ausschalten</p>
      </item>
      <item>
        <p>Zum räumlich nächsten und vorherigen dynamischen Bereich springen</p>
      </item>
      <item>
        <p>Zum letzten dynamischen Bereich springen, der eine Ankündigung ausgab</p>
      </item>
      <item>
        <p>Die letzten neun vorgelesenen dynamischen Bereiche vorlesen</p>
    </item>
    </list>
  </section>
</page>
