<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_learn_modes" xml:lang="de">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_keyboard_layout"/>
    <title type="sort">5. Lern-Modus</title>
    <desc><app>Orca</app>-Befehle entdecken</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012, 2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  <title>Lern-Modus</title>
  <p>Im Lernmodus wird <app>Orca</app> jedes gedrückten Tastenkürzel zusammen mit dem dazugehörigen zugewiesenen <app>Orca</app>-Befehl ankündigen. In diesem Modus können Sie ebenfalls eine Liste mit den Tastenkürzeln aller verwendbaren <app>Orca</app>-Befehle erhalten.</p>
  <steps>
    <title>Den Lernmodus verwenden</title>
    <item>
      <p>Starten Sie den Lernmodus: <keyseq><key>Orca-Zusatztaste</key><key>H</key></keyseq>.</p>
    </item>
    <item>
      <p>Drücken Sie eine beliebige Taste oder Tastenkombination. <app>Orca</app> wird die Tasten und ihnen zugewiesene Befehle ansagen.</p>
    </item>
    <item>
      <p>Drücken Sie zum Verlassen des Lernmodus die <key>Esc</key>-Taste.</p>
    </item>
  </steps>
  <steps>
    <title>Eine Liste aller Tastenkombinationen erhalten</title>
    <item>
      <p>Starten Sie den Lernmodus: <keyseq><key>Orca-Zusatztaste</key><key>H</key></keyseq>.</p>
    </item>
    <item>
      <p>Drücken Sie <key>F2</key>, um eine Liste der Tastenkombinationen zu erhalten, die überall für <app>Orca</app> gelten. Drücken Sie <key>F3</key>, um eine Liste der Tastenkombinationen für die fokussierte Anwendung zu erhalten.</p>
    </item>
    <item>
      <p>Verwenden Sie <key>Hoch</key> und <key>Runter</key>, um den Inhalt der Liste zu erkunden.</p>
    </item>
    <item>
      <p>Drücken Sie zum Verlassen der Liste die <key>Esc</key>-Taste.</p>
    </item>
  </steps>
</page>
